*{
    
    font-family: Poppins;
}

header {
    /* nav  logo and navigation links in ul */
    width: 100%;
    margin: auto;
} 

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    width: 50px;
    height: auto;
    margin-left:15px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: moccasin;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0px;
    padding-inline-end: 0px;

    margin-right:20px;
    margin-top: 5px;
    margin-bottom: 5px;

    width: 40%
    
}

ul li {
   
    padding: 10px;
}

body{
    width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.jumbotron {
    --jumbotron-width: calc(90vw - 0px); 
    /* jumbotron is in main, which is 90% of whole body, but setting jumbotron width to 90vw (viewport width) is not equivalent! 
    had to adjust it by 17px at least had to set body's width=100vw */
    width: var(--jumbotron-width);
    height: calc(var(--jumbotron-width)* 415/1133 ); /* 1132:415 is the aspect ratio used on mac screen originally! */
    /* 400px will not show family or river bank in dark. but looks consistent. */
    background-image: url('./resources/images/locations/richmondJumbotron_halved.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron h2 {
    color: whitesmoke;
    font-size: 2.25rem;
    background-color:darkolivegreen;
    opacity:0.8;
    width: 100%;
    text-align:center;
}

.about {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 1.2rem
}

.sights {
    width: 90%;
    text-align: center;
    margin-top: 1.2rem;
}

.sights h2 {
    margin-bottom: 0.3rem;
    background-color:gainsboro;
}

.attractions{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.attractions figure{
    flex: 1 1 30%;
    margin: 0px 5px 10px;
    max-width: 480px;
    height: auto;
}


.attractions figure img{
    height: auto; 
    max-width: 100%; /* if img height always having to be 100%, image width:auto doesn't increase as much as it should to fit expanding container!*/
    overflow: hidden;
}

.team {
    margin-top: 1.2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.members figure {
    flex: 1 1 250px; /* flex item property */
    max-width: 250px;
    height: auto;
    margin: 10px;

    display: flex; /* flex container property! it is both item and container. */
    flex-direction:column;
    align-items: center;
}

.members figure figcaption {
    width: 100%;
    text-align: center;
}

footer {
    margin-top: 1.2rem;
    text-align: center;
}